%h2 
  =@app.name
  \:: edit recipe

=form_for(:app, :method => 'put', :action => url(:app,@app.name)) do
  :plain
    <textarea rows='24' cols='80'>
    #{@app.recipe_source}
    </textarea>
  
  =submit 'save'