%h2 recipe

=back_to_app


:plain
  <pre>
  #{@app.recipe_source}
  </pre>

%a{:href => url(:edit_app,@app.name)} edit

%h2 revisions
%table
  -@app.git_log_recipe.each do |log|
    %tr
      %td=log.commit[0,7]
      %td=log.time
      %td==#{log.insertions} / #{log.deletions}
  
