%h2
  =@app.name
  
%script{:type=>'text/javascript'}
  :plain
    var app = '#{@app.name}'

%p
  %a{:href => '/'} &larr; app list

%h3 tasks
(
%a{:href => ('' / @app.name / 'recipe')}==#{@app.recipe_name} recipe file
)

%table
  %tbody
    -@app.tasks.each do |task,description|
      %tr
        %td
          =task
        %td
          =description.blank? ? '&ndash;' : description
        %td
          [
          %a.run-task{:href => ('' / @app.name / 'run' / task)} run
          ]
    %tr
      %td
        [
        %a.add-task-list{:href=>'#'} + task list
        ]
    %tr.task-list
      %td
        .selected
        .candidates
          -@app.recipe_tasks.each do |task,_|
            %a.candidate{:href=>'#', :name => task}==+ #{task}
            &middot;
      %td
        %input.description
      %td
        %input.save{:value => '+', :type => 'button'}
          
.runner
  .title
    reason
  .reason
    %textarea{:rows => 10, :cols => 30}
  .button
    %input.run{:type => 'submit', :value => 'run'}
    or
    %a.cancel{:href=>'#'} cancel

%h3 logs
=merb_paginate @logs, :renderer => LogLinkRenderer

%table.logs
  %tbody
    -@logs.each do |log|
      %tr
        %td.icon
          =image_tag("#{log.status}.png")
        %td
          %a{:href => ('' / @app.name / 'log' / log.key)}
            =log.task
        %td
          =time_ago_in_words(log.date)
          ago