body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#main {
  height: auto !important;
  margin: 0pt auto -8.6em;
  min-height: 100%;
}

.site {
  margin: 0pt auto;
  padding: 0pt 3em;
  text-align: left;
  width: 69em;
}

.runner {
  border: 1px solid #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  font-family: Monaco,"Courier New",monospace;
  font-size: 90%;
  width: 100%;
}

table textarea {
  width: 95%;
}

tr.err td {
  background: pink;
}

tr.out td {
  background: lightblue;
}

tr.reason td {
  background: #ccc;
}

td.icon {
  width: 20px;
}

.task-list td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}