%h2
  log for
  =@app.name
  &mdash;
  =@log.task

.navigation
  =back_to_app
  
.detail
  ==run #{time_ago_in_words(@log.date)} ago
  
.status
  =@log.status

.reason
  =@log.reason
  
%p
  %table
    -@log.each_line do |line,stream|
      -next if stream == :reason
      %tr{:class => stream}
        %td
          =line